{% extends "layout.html" %}

{% block body %}

<div class="container mb-2 ml-2 pt-4 pb-2 add_border ">
    {% include "task_template.html" %}
</div>
<div class="container mb-3 ml-2 mt-6 pb-2 add_border">

    <table class="table">
        <tbody>

            <tr>
                <th>Palautuksesi tilanne
                </th>
                <td>
                    {% if assignment.submits %} <p style="color:green;"> Palautettu <small style="color:black"> -
                            ({{get_deadline_string(assignment.submits[0].date)}})</small> </p>{% else %} <p
                        style="color:red;">Ei palautettu </p>{% endif %}

                </td>
            </tr>
            <tr>
                <th>Tiedostosi</th>

                {% if assignment.submits %}
                <td>

                    {% for file in assignment.submits[0].files %}

                    <p >
                        <a href={{url_for('get_file', file_id=file.id) }} class="slightly_smaller_font">
                            <span class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> 
                            {{file.name}}
                        </a>
                    </p>

                    {% endfor %}
                </td>

    
    
    {% else %}
    <td>-</td>

    {% endif %}

    </tr>
    <tr>
        <th>Vertaisarvionti</th>
        <td>emt</td>
    </tr>
    </tbody>
    </table>
    {% if deadline_not_passed %}

    <form method="POST"
        action={{url_for("view_task", course_id=course_id, task_id=task.id, assignment_id = assignment.id)}}
        enctype="multipart/form-data">
        <label for="files" id="files_label"> </label>
        <input id='files' name="files" type="file" multiple="multiple" required />
        <input type="submit" value="Palauta">
        <input type="hidden" name="a" value={{assignment.id}}>
        <input type="hidden" name="t" value={{task.id}}>
    </form>
    {% else %}
    <p>
        Et voi enää muokata palautustasi
    </p>
    {% endif %}
</div>
{% set answer=task.answer %}
{% if answer %}
<div class="container mb-4 ml-2 mt-6 pb-2 add_border">
    {% include "answer_template.html" %}
</div>
{% endif %}


{% endblock %}