#main_header {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#course_select_container {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#course_name_change{
  font-family: "Verdana", cursive, sans-serif;
  font-size: 2rem;
}
#course_main {
  display: flex;
  flex-direction: column;
  
}
#course_select :hover {
  color: #003991 !important; 
  text-decoration: underline !important;
}
.current_selection {
  color: #003991 !important; 
  text-decoration: underline !important; 
  
}
#selection_container {
  border-radius: 10px;
}
.animation_path {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    
    margin: auto;
  }
  .shape {
    position: absolute;
    left: 0;
    background-color: rgba(43, 53, 134, 0.582);
    width: 50px;
    height: 10px;
    display: block;
      top: 0;
    
    x-transition: all 1s ease-in-out;
    animation: ani 1.7s infinite;
  }
  #course_index_container {
    padding: 5px 30px 30px;
}
  
  @keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }