









body { padding: 0; 
   font-family: "Perpetua, Arial";
   font-size: 20px;
   background-color: #efefef;
   overflow-y: hidden;
   
}

* { min-height: 0; min-width: 0; }
hr {
   
   clear:both;
   display:block;
   width: 96%;               
   height: 1px;   
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   color: black;
   border-width: 1px;
 }

h1, h2, h3, h4, h5, h6 {
   font-family: "Verdana", cursive, sans-serif;
}
.page-header,
.page-header h1 {
   margin-top:0;
} 

form {
   width: 100%;
}

.larger_font {
   font-size: 1.1em;
}
.slightly_smaller_font {
   font-size: 0.9em;
}
.smaller_font {
   font-size: 0.8em;
}
.extra_small_font {
   font-size: 0.7em;
}
input.larger_checkbox { 
   transform: scale(1.2);
} 
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.red_color{
   color: red;
}

.top_bar {
   background-color: #5e5a59;
   
}
.nav-item a{
   color: whitesmoke;
}

.container-fluid {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
 .vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }
 .add_border {
   border:1px solid #d9d9d9;
   background-color: #fcfcfc;
}

.center_text {
   text-align: left
}

#assig_table {
   margin-top: 1rem;
}

#times:hover {
      background-color: dimgray;
}
#main_row {
   overflow-x: hidden;
}
#useless {
   width: 170px;
}
#course_inc {
   margin-left: 0;
   margin-right: 0;
}


 span {
   display: inline-block;
 }

 #file_td{
    padding-right: 10mm;
 }

 #grade_points {
    width: 45px;
 }

 


.no_linebreak {
   display: inline;
}

   
#page_wrapper {
   
   width: 100vw;
}

#main_header {
   min-height: 3rem;
   display: flex;
   flex-direction: row;
   padding-right: 0;
   
}
.index_button {
   
   margin-right: 0;
}
.main_dropdwon {
   background-color: inherit;
   font-size: inherit !important
   
}
.wrapper {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: flex-start;
   width: 100%;
   min-height: 100%;
   
   
 }
.hori_wrapper {
   display: flex;
   align-items: flex-start;
   flex-direction: row; 
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   min-height: 100%;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

 .small_wrapper {
   display: flex;
   align-items: center;
   flex-direction: column; 
   justify-content: flex-start;
   max-width: 600px;
   width: 45%;
   margin: 1rem;
   padding: 20px;
   min-width: 300px;
   
 }

 .small_wrapper input {
    max-width: 200px;
    width: 98%;
    padding: 1%;
 }
.main_wrapper {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-width: 100%;
   min-height: 100vw;

}

.reset_color {
   color: initial;
}
#main_dropdwon_link{
   color: white;
}
#main_dropdwon_link:hover {
   color: black;
}
.black_hover:hover{
   color: black;
}
.clickable {
   
      color: inherit; 
      text-decoration: inherit; 
    
}
.clickable:hover {
   background-color: dimgray;
}
.clickable div table :hover {
   background-color: dimgray;
}

#course_container {
   width: 32.2%;
   min-width: 280px;
   color: inherit;
   text-decoration: inherit; 
   margin-right: 0.5%;
   margin-left: 0.5%;
   margin-bottom: 1rem;
   justify-content: space-between;
   background-color: #f5f5f5;
   align-items: flex-start;
}
#selection_container { 
   min-width: 150px;
   display: flex;
   justify-content: center;
   
}

#course_container img {
   width: 95%;
   margin-top: 2.1%;
   align-self: center;
   
}
#course_container h1, #course_container h2, #course_container h3, #course_container h4,#course_container h5,#course_container h6 {
   margin-top: 1%;
   margin-left: 2.5%;
   margin-bottom: 0.5rem;
   overflow-wrap: break-word;
}

#new_course_wrapper{
   font-size: 1.5rem;
}
#course_container div {
   width: 100%;
}
#course_container table {
   width: 100%;
}
#course_container:hover {
   background-color:#d9d9d9 ;
}

#selection_container:hover {
   background-color:#d9d9d9 ;
   color: #1494c5;
}


@media (max-width: 991.98px) {
   #index_container .col-md-4, .col-lg-3, .col-xl-3 {
      margin-top: 2rem;
   }
      
}

@media (max-width: 900px) {
   
   .small_wrapper {
      max-width: 100%;
      width: 100%;
   }
}

#signup_container {
   background-color: #fcfcfc;
   min-height: 475px;
   min-width: 230px;
}
#signup_container header {
padding: 0.5em 2.5% 0.4em;
}
#signup_container header hr{
   width: 100%;
   }

.dropdown-item{
   color: black;
}
#timeline_container .wrapper{
   align-items: flex-start;
}
#main_nav {
   background-color: #1d8cb6;
   font-size: 1.5rem;
}

#timeline_container {
   max-width: 100%;
   min-width: 235px;
   min-height: 300px;
}
#timeline_container header{
padding: 0.2em 0% 0 0;
}
#enlist_container {
   max-width: 100%;
   min-width: 235px;
   margin-top: 3rem;

   padding-top: 8px;
   padding-bottom: 8px;
}

#timeline_container span{
   clear: both;
   display: inline-block;
   width: 100%;
}

#course_name_input {
   min-width: 200px;
}

#course_short {
   max-width: 125px;
}
#short_clear {
   font-size: 70%;
}

#course_list_container {
   padding-left: 2.5%; 
   padding-right: 2.5%;
   margin-left: auto;
   margin-right: auto;
   min-width: 220px;
}
.error_text {
   color:#931a00;
   
}
   .full_width {
      width: 100%;
   }

#stupid_dropdown_menu {
   right: 0px; 
   position: absolute;
   left: auto;
   
   
  
}

#new_course_form {
   max-width: 550px;
 }
 #new_course_form div * {
    padding-top: 3px;
    padding-bottom: 3px;
    
 }

 #new_course_form div label {
    margin-top: 0.1rem;
    margin-bottom: 0;
 }
 #settings_icon {
    width: 22px;
    height: 22px;
 }