{% extends "layout.html" %}
{% block body %}
<div class="container ml-2 pt-4 pb-2" style="border:1px solid #d9d9d9; ">

  <p>Palautuspäivä: {% if assignment.deadline%}
    {{assignment.deadline.strftime("%d.%m.%y, %H:%M")}}
  </p>
  <p><small>{{get_deadline_string(assignment.deadline)}}</small></p>
  {% else %}
  <p>Ei palautuspäivää</p>
  {% endif %}

  <p> Kaikkien tehtävien materiaalit: {% for file in assignment.files %}
    <a href={{url_for('get_file', file_id=file.id) }}><span
        class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a>
    {{ ",  " if not loop.last }}
    {% endfor %}</p>
  <p> {{ task.description}}</p>
  <p>Max pisteet: {{task.points}}</p>
  <p>Liitteet: {% for file in task.files %}
    <a href={{url_for('get_file', file_id=file.id) }}><span
        class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a>
    {{ ", " if not loop.last }}
    {% endfor %}</p>

</div>
<div class="container ml-2 pt-4 pb-2" style="border:1px solid #d9d9d9; ">
  <h2 class="mt-3 mb-3">
    Malliratkaisu
  </h2>
  {% if not task.answer %}
<h5 style="color:red;">
Malliratkaisua ei ole asetettu
</h5>
  {% else %}
    <h5 style="color:green;" class="mb-3">
      Malliratkaisu on asetettu. 
    </h5>
    <p>
      Näkyvissä opiskelijoille: {{task.answer.reveal.strftime("%d.%m.%y, %H:%M")}}
    </p>
    <p><small>{{get_deadline_string(task.answer.reveal)}}</small></p>
    <p>
      {{task.answer.description}}

    </p>
    <p>Liitteet: {% for file in task.answer.files %}
      <a href={{url_for('get_file', file_id=file.id) }}><span
          class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a>
      {{ ", " if not loop.last }}
      {% endfor %}</p>
  {% endif %}
</div>
<div class="container ml-2 pt-4 pb-2" style="border:1px solid #d9d9d9; ">
  <h4>
    Aseta malliratkaisu
  </h4>
  <form method="POST"
    action={{url_for("task_overview", course_id=course_id, task_id=task.id, assignment_id=assignment.id)}}
    enctype="multipart/form-data">
    <table class="mt-4 mb-4">
      <thead>
        <p>
          
        </p>
      </thead>
      <tbody>

        <tr>
          <td>
            {{ form.reveal.label }}
          </td>

          <td>
            {{ form.reveal }}
          </td>
          <td>
            <ul>
              {% if reveal_error is defined %}
              <li>{{ reveal_error }}</li>
              {% endif %}
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            {{ form.description.label }}
          </td>

          <td>
            {{ form.description }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.files.label }}
          </td>

          <td>
            {{ form.files }}
          </td>
        </tr>


        {{ form.csrf_token }}
      </tbody>
    </table>

    <input type="submit" name="submit" value="Muuta malliratkaisua">
  </form>
</div>
<table class="table">
  <thead>
    <tr>

      <th scope="col">Opiskelijan nimi</th>

      <th scope="col">Palautus tehty </th>

      <th scope="col">Nykyiset pisteet </th>

      <th scope="col">Aseta pisteet </th>
    </tr>
  </thead>



</table>
{% endblock %}