
        
       {% extends "layout.html" %} 
       {% block body %}
       
       <div class="container ml-2 pt-4 pb-2" style="border:1px solid #d9d9d9; " > 
        <p> Kaikkien tehtävien materiaalit: {% for file in assignment.files %}
            <a href={{url_for('get_file', file_id=file.id) }}><span class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a> 
            {% endfor %}</p>
        <p> {{  task.description}}</p>
        <p>Max pisteet: {{  task.points}}</p>
        <p>Liitteet: {% for file in task.files %}
            <a href={{url_for('get_file', file_id=file.id) }}><span class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a> 
            {% endfor %}</p>
        <p>
        </p>
        {% if assignment.submits %}
        <p>Palautuksesi: {% for file in assignment.submits[0].files %}
            <a href={{url_for('get_file', file_id=file.id) }}><span class="fiv-cla fiv-icon-{{get_file_extension(file.name)}} fiv-size-md"></span> {{file.name}}</a> 
            {% endfor %}</p>
        
            <form method="POST" action={{url_for("view_task", course_id=course_id, task_id=task.id, assignment_id = assignment.id)}} enctype="multipart/form-data">
                <label for="files" id="files_label">  </label>
                <input id='files' name="files" type="file" multiple="multiple" />
                <input type="submit" value="Palauta">
                <input type="hidden" name="a" value={{assignment.id}}>
                <input type="hidden" name="t" value={{task.id}}>
            </form>    
        {% else %}
        <form method="POST" action={{url_for("view_task", course_id=course_id, task_id=task.id, assignment_id = assignment.id)}} enctype="multipart/form-data">
            <label for="files" id="files_label">  </label>
            <input id='files' name="files" type="file" multiple="multiple" />
            <input type="submit" value="Palauta">
            <input type="hidden" name="a" value={{assignment.id}}>
            <input type="hidden" name="t" value={{task.id}}>
        </form>    
        {% endif %}

    </div>
    <form method="GET" action={{previous_url(request.url,2)}}>
        <input type="submit" value="Takaisin">
    </form>
    {% endblock %}