<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    {% block title %}

    {% endblock %}
    Vertaisarvionti
  </title>
  {% block styles %}

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='quill/quill.snow.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='file-icon-classic.css') }}">

  <script src="{{ url_for('static', filename='jquery/jquery-3.5.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script> 

  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='quill/quill.js') }}"></script>

  {% endblock %}
</head>

<body>
  <main id="main" class="main_wrapper">
    {% block navi %}

    {% include "nav.html" %}

    {% endblock %}

    {% block page_wrapper_container %}
    <div id="page_wrapper" >
      {% endblock %}
      
      <header id="main_header" class="pt-1 pb-1 mt-1">

        {% block header %}





        {% endblock%}


      </header>
      {% block body %}



      {% endblock %}

      {% block previous_url %}

      <!-- {% set previous =  previous_url(request.url) %}
      {% if previous %}
      <form method="GET" action={{previous}}>
        <input class="mt-2" type="submit" value="Takaisin">
      </form>
      {% endif %} -->

      {% endblock %}
    </div>
  </main>
  
  
  {% block load_script %}
 
  {% endblock %}

 

  
</body>

</html>