<nav id="main_nav" class="navbar navbar-expand mt-0 top_bar">


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {% if current_user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link black_hover" href="{{ url_for('courses') }}" id="course_link">Kurssini</a>
        </li>
        {% endif %}
      </ul>


    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li>
          {% if current_user.is_authenticated %}
          
          <div class="dropdown show nav-item">
            <a id="stupid_dropdown" class="btn btn-link dropdown-toggle main_dropdwon" role="button" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              {{current_user.first_name ~ "  " ~ current_user.last_name}}
            </a>

            <div id="stupid_dropdown_menu" class="dropdown-menu" data-display="static" aria-labelledby="stupid_dropdown" >

              {% if current_user.role == 'TEACHER' %}
              <a href="{{ url_for('new_course') }}" class="dropdown-item" style="color: black;">Uusi kurssi</a>

              {% else %}
              
              {% endif %}
              <a href="{{ url_for('user_details') }}" class="dropdown-item" style="color: black;">Käyttäjätiedot</a>
              <a href="{{ url_for('logout_auth') }}" class="dropdown-item" style="color: black;">Kirjaudu ulos</a>

            </div>
          </div>
        </li>
      
        {% else %}
        
        <li class="nav-item">
          <a  class="nav-link black_hover" href="{{ url_for('login_auth')}}" >Kirjaudu Sisään</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link black_hover" href="{{ url_for('register')}}">Rekisteröidy</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>
