
  {% extends 'layout.html' %}
  {% block title %}
  Kirjaudu Sisään - 
  {% endblock %}

  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='auth/login.css') }}">
  {{super()}}
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

  
<div class="wrapper ">
  <div id="formContent">
    
    <div class="mt-2" id="form_wrapper">
   
    <form method="POST" action="{{ url_for('.login_auth') }}">
      <div class="hori_wrapper">
      {{ form.username(id="login",  placeholder="Käyttäjänimi") }}
      {{ form.password(id="password", placeholder="Salasana") }}
      <span class="error_text">{{error}}</span>
      <input type="submit" value="Kirjaudu Sisään"/>
      
      {{ form.csrf_token }}
      {% if next is not none %}
    <input  type="hidden" name="next" value="{{next}}">
  </div>
    {% endif %}
    </form>
    
    <div id="formFooter">
      <a class="underlineHover" href="{{url_for('.register')}}">Rekisteröidy</a>
    </div>
  </div>
  </div>
</div>

{% endblock %}


{% block previous_url %}

{% endblock %}