{% extends "layout.html" %}

{% block title %}
{{course.name}} - 
  {% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='rich_comments.css') }}">
{% endblock %}

{% block header %}
<div id="normal">
    <h2 id="course_name_header">{{course.name}} </h2>

{% if current_user.role == 'TEACHER' %}
<a id="course_dropdown" class="btn btn-link " role="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <img id="settings_icon" src="{{url_for('static', filename='images/icons8-settings.svg')}}">
</a>

<div id="course_dropdown_menu" class="dropdown-menu" data-display="static" aria-labelledby="course_dropdown">
    <button onclick="swapClass('#course_name_header', 'name_change_form', 'd-none')" class="dropdown-item">  Vaihda nimeä</button>
    <form method="POST" target="{{url_for('deleteks')}}">
        <input type="submit" class="dropdown-item" value="Poista kurssi" name="delete">
    </form>
</div>
{% endif %}
</div>
{% if current_user.role == 'TEACHER' %}
<div id="name_change_form" class="d-none">
<form  method="POST" target="{{url_for('update_course', course_id = course.id)}}">
    <input id="course_name_change" type="text" name="name" value="{{course.name}}">
    <input type="submit" name="course_name">
    </form>
    <button onclick="swapClass('#name_change_form', '#course_name_header', 'd-none')" class="dropdown-item"> Peruuta</button>
</div>

{% endif %}
{% endblock %}

{% block body %}
<div id="course_index_container" class="container add_border">
    {% block course_info %}

    <div id="course_main">

        <p> {{course.description}} </p>
        <p class="mt-0 smaller_font"> Opettaja: {{course.teacher_name}} </p>
    

    <div id="course_select_container" class="hori_wrapper larger_font mt-2">
        <a id="course_select" class="{% if current=='index'%}current_selection{% endif %}"
                href="{{url_for('view_course', course_id=course.id)}}">
        <div id="selection_container" >
            
                Etusivu
            
        </div>
    </a>
        <a id="course_select" class="{% if current=='assignments'%}current_selection{% endif %}"
        href="{{url_for('view_course', course_id=course.id, a='all')}}">
        <div id="selection_container" >
           
                Tehtävät
            
        </div>
    </a>
        <a id="course_select" class="{% if current=='overview'%}current_selection{% endif %}"
                href="{{url_for('view_course', course_id=course.id, overview='all')}}">
        <div id="selection_container" >
            
                {% if current_user.role =="TEACHER" %}

                Suoritukset

                {% elif current_user.role =="USER" %}

                Suoritukseni

                {% endif %}
            
        </div>
    </a>
    </div>
</div>

    {% endblock %}

    {% block content %}
    
    <div id="old_comments">
        <div class="animation_path">
            <span id="loading_icon" class="shape trail"></span>
        </div>
    </div>

{% endblock %}

{% block previous_url %}



{% endblock %}
</div>
{% endblock %}


{% block comment_script %}
<script>
    


    $(document).ready(function () {
        console.log("ready")
    onloadFunction = function() {
        $("#old_comments").empty()
        if (this.status==200){
            $("#old_comments").append(this.responseText)
        }else {
            $("#old_comments").append("<span class='error_text'> Viestien hakeminen ei onnistunut ("+this.status+") </span>")
        }
            
        
    }
    
    getCommentsHTML("{{comment_target}}", onloadFunction);
    })
</script>
{% endblock %}