{% extends "layout.html" %} 
{% block body %}

<form method="POST" action={{url_for('new_assignment', course_id=id) }} enctype="multipart/form-data">
    <table>
      <tr>
        <td>
          {{form.name.label}}
        </td>
      </tr>
      <tr>
        <td>
          {{form.name}}
        </td>
      </tr>
        <tr>
          <td>
        {{ form.deadline.label }}
          </td>
    
          <td>
        {{ form.deadline }}
          </td>
          <td>
                <ul>
                  {% for error in form.deadline.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </td>
        </tr>
        
            <tr>
              <td>
            {{ form.reveal.label }}
              </td>
        
              <td>
            {{ form.reveal }}
              </td>
              <td>
                    <ul>
                      {% if reveal_error is defined %}
                      <li>{{ reveal_error }}</li>
                      {% endif %}
                    </ul>
                  </td>
            </tr>
            
            <tr>
              <td>
            {{ form.files.label }}
              </td>
        
              <td>
                {{ form.files }}
              </td>
            </tr>

            <tr>
              <td>
                <h2 id="space"> Tehtävät </h2>

              </td>
              <td>
                <input type="submit" name="more" value="Lisää Tehtävä (luo haluamasi määrä tehtäviä, ennen kuin valitset tiedostoja koneeltasi)" /> 
              </td>
            </tr>
            {% for f in form.tasks %}
            <tr>
              <td>
                {{f.points.label}}
              </td>
              <td>
                
                {{f.points}}
              </td>
            </tr>
            <tr>
              <td>
                {{f.brief.label}}
              </td>
              <td>
                
                {{f.brief}}
              </td>
            </tr>
            <tr>
              <td>
                {{f.task_files.label}}
              </td>
              <td>
                
                {{f.task_files}}
              </td>
            </tr>
            {% endfor %}
            {{ form.csrf_token }}
    </table>
    
    <input type="submit" name="submit" value="Luo Palautus" />  
</form>



{% endblock %}