
    {% for comment in comments %}
    <div class="comment">
        <header>
            <div class="wrapper">
                <h5 id="comment_poster_name" >
                    {{comment.owner_str}}
                </h5>
                <span id="comment_timestring" class="text-muted slightly_smaller_font">
                    {{comment.date_str}}
                </span>
            </div>
        </header>
        <div id="comment_text" class="text-body">
            <span >
                {{comment.text}}
            </span>
        </div>
    </div>
{% endfor %}