{% extends "layout.html" %}
{% block styles %}
{{super()}}
{% endblock %}


{% block body %}
<div id="new_course_wrapper" class="wrapper ">
  <form class="add_border pb-4 pt-4 pl-4 pr-4" method="POST" action="{{ url_for('new_course') }}">
    
  <div class="form-group">
    <label for="course_name_input">Kurssin nimi</label>
    <input type="text" class="form-control" id="course_name_input"  name="course_name" >
    {% if name_error %}
    <small id="short_clear" class="form-text text-danger">{{name_error}}</small>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="course_short">Kurssin lyhenne</label>
    <input type="text" class="form-control" id="course_short" aria-describedby="short_clear" placeholder="3-7 merkkiä" maxlength="7" name="course_short">
    {% if short_error %}
    <small id="short_clear" class="form-text text-danger">{{short_error}}</small>
    {% else %}
    <small id="short_clear" class="form-text text-muted">Esim. MAB3</small>
    {% endif %}
  </div>
  <input type="submit" value="Luo kurssi">
</form>

</div>

{% endblock %}

{% block previous_url %}

{% endblock %}