{% extends 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{{super()}}

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div class="wrapper ">
      <div id="formContent">
            <div class="span6 mb-2" id="register_error">{{error}}</div>
            <form method="POST" action="{{ url_for('register') }}">

                  <div class="row">


                        <div class="col-12">
                              {{ form.username(id="login",  placeholder="Käyttäjänimi") }}
                        </div>
                  </div>
                  {% for error in form.username.errors %}
                  <div class="row">
                        <div class="col-12">

                              <div class="span6" id="register_error">{{ error }}</div>


                        </div>
                  </div>
                  {% endfor %}

                  <div class="row">

                        <div class="col-12">
                              {{ form.password(id="login",  placeholder="Salasana") }}
                        </div>
                  </div>
                  {% for error in form.password.errors %}
                  <div class="row">
                        <div class="col-12">

                              <div class="span6" id="register_error">{{ error }}</div>


                        </div>
                  </div>
                  {% endfor %}
                  <div class="row">

                        <div class="col-12">
                              {{ form.password2(id="login",  placeholder="Toista salasana") }}
                        </div>
                  </div>

                  {% if not form.password.errors %}
                  {% for error in form.password2.errors %}
                  <div class="row">
                        <div class="col-12">
                              <div class="span6" id="register_error">{{ error }}</div>
                        </div>
                  </div>
                  {% endfor %}
                  {% endif %}

                  <div class="row">
                        <div class="col-12">
                              {{ form.first_name(id="login",  placeholder="Etunimi") }}
                        </div>
                  </div>
                  {% for error in form.first_name.errors %}
                  <div class="row">
                        <div class="col-12">

                              <div class="span6" id="register_error">{{ error }}</div>


                        </div>
                  </div>
                  {% endfor %}

                  <div class="row">


                        <div class="col-12">
                              {{ form.last_name(id="login",  placeholder="Sukunimi") }}
                        </div>
                  </div>
                  {% for error in form.last_name.errors %}
                  <div class="row">
                        <div class="col-12">

                              <div class="span6" id="register_error">{{ error }}</div>


                        </div>
                  </div>
                  {% endfor %}
                  <div class="row mt-2">
                        <div class="col-6">
                              {{ form.student.label(id="student_checkkbox_label") }}
                        </div>

                        <div class="col-6">
                              {{ form.student(id="student_checkkbox_label") }}
                        </div>

                  </div>
                  <div class="row">
                        <div class="col-12">
                              <input type="submit" value=Rekisteröidy>
                        </div>

                  </div>
            </form>
      </div>

</div>


{% endblock %}


{% block previous_url %}

{% endblock %}