{% extends "layout.html" %}

{% block body %}

<form action="{{ url_for('login_auth') }}" method="get">
      <button name="Login" type="submit">Login</button>
  
    </form>
    <br>
{{ error }}
<form method="POST" action="{{ url_for('register') }}">
  <table>
    <tr>
      <td>
	{{ form.username.label }}
      </td>

      <td>
	{{ form.username }}
      </td>
      <td>
            <ul>
              {% for error in form.username.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
      <td>
            <ul>
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <td>
	{{ form.password2.label }}
      </td>
      <td>
	{{ form.password2 }}
      </td>
      <td>
            <ul>
              {% for error in form.password2.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <td>
	{{ form.first_name.label }}
      </td>

      <td>
	{{ form.first_name }}
      </td>
      <td>
            <ul>
              {% for error in form.first_name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <td>
	{{ form.last_name.label }}
      </td>

      <td>
	{{ form.last_name }}
      </td>
      <td>
            <ul>
              {% for error in form.last_name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <td>
	{{ form.student.label }}
      </td>

      <td>
	{{ form.student }}
      </td>
      
          </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Register"/>
      </td>
    </tr>
</form>


{% endblock %}